name: Build Openwrt Image

on:
  workflow_dispatch:
    inputs:
      source_repo:
        description: "选择要编译的 OpenWrt 源分支或 tag"
        required: true
        default: v24.10.4
      toolchain_repo:
        description: "输入 toolchain 下载地址"
        required: true
        default: "https://downloads.immortalwrt.org/releases/24.10.4/targets/rockchip/armv8/immortalwrt-toolchain-24.10.4-rockchip-armv8_gcc-13.3.0_musl.Linux-x86_64.tar.zst"
      defconfig:
        description: "输入默认config 下载地址"
        default: "https://downloads.immortalwrt.org/releases/24.10.4/targets/rockchip/armv8/config.buildinfo"
env:
  REPO_URL: https://github.com/immortalwrt/immortalwrt
  CONFIG_FILE: default.config
  DIY_SHELL: diy.sh
  TZ: Asia/Shanghai
  SOURCE_REPO: ${{ github.event.inputs.source_repo }}
  TOOLCHAIN_REPO: ${{ github.event.inputs.toolchain_repo }}
  DEFCONFIG: ${{ github.event.inputs.defconfig }}

jobs:
  build-firmware:
    name: Build H68k immortalwrt image - ${{ matrix.device }}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        device:
          - h68k-new
          - h68k-old
          - h68k-max
      fail-fast: false

    steps:
      - name: Checkout current repo
        uses: actions/checkout@v5

      - name: Checkout private repo
        uses: actions/checkout@v5
        with:
          repository: leesonaa/immortalwrt-h68k
          token: ${{ secrets.GH_TOKEN }}
          path: patch
      
      - name: Init Env
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          sudo timedatectl set-timezone "$TZ"
          
      - name: Initialization environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo -E apt update && sudo apt install -y \
          duf ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential \
          bzip2 ccache clang cmake cpio curl device-tree-compiler ecj fastjar flex gawk gettext gcc-multilib \
          g++-multilib git gnutls-dev gperf haveged help2man intltool lib32gcc-s1 libc6-dev-i386 libelf-dev \
          libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses-dev libpython3-dev \
          libreadline-dev libssl-dev libtool libyaml-dev libz-dev lld llvm lrzsz mkisofs msmtp nano \
          ninja-build p7zip p7zip-full patch pkgconf python3 python3-pip python3-ply python3-docutils \
          python3-pyelftools qemu-utils re2c rsync scons squashfs-tools subversion swig texinfo uglifyjs \
          upx-ucl unzip vim wget xmlto xxd zlib1g-dev zstd clang-15 llvm-15 npm jq
          
      - name: Clone source code
        run: |
          duf
          sudo -E chmod -R 777 /mnt
          git clone $REPO_URL /mnt/openwrt
          cd /mnt/openwrt
          git checkout $SOURCE_REPO
          
      - name: Prepare source for device - ${{ matrix.device }}
        run: |
          cd /mnt/openwrt
          if [ "${{ matrix.device }}" == "h68k-new" ]; then
            cp $GITHUB_WORKSPACE/patch/add.sh .
            bash add.sh
          elif [ "${{ matrix.device }}" == "h68k-old" ]; then
            cp $GITHUB_WORKSPACE/patch/add2022.sh .
            bash add2022.sh
          elif [ "${{ matrix.device }}" == "h68k-max" ]; then
            cp $GITHUB_WORKSPACE/patch/add_max.sh .
            bash add_max.sh
          fi
          
      - name: Update feeds
        run: cd /mnt/openwrt && ./scripts/feeds update -a

      - name: Install feeds
        run: cd /mnt/openwrt && ./scripts/feeds install -a

      - name: Download toolchain
        run: |
          echo "Downloading toolchain from $TOOLCHAIN_REPO"
          TOOLCHAIN_FILE="${TOOLCHAIN_REPO##*/}"
          wget -O $TOOLCHAIN_FILE $TOOLCHAIN_REPO

          GCC_VER=$(echo $TOOLCHAIN_FILE | grep -oP 'gcc-\K[0-9]+\.[0-9]+\.[0-9]+')
          echo "Detected GCC version: $GCC_VER"

          TOOLCHAIN_DIR="$HOME/toolchain-aarch64"
          mkdir -p $TOOLCHAIN_DIR
          tar -I zstd -xf $TOOLCHAIN_FILE -C $TOOLCHAIN_DIR --strip-components=2

          echo "TOOLCHAIN_DIR=$TOOLCHAIN_DIR" >> $GITHUB_ENV
          echo "GCC_VER=$GCC_VER" >> $GITHUB_ENV

          
      - name: Make menuconfig
        run: |
            cd /mnt/openwrt
            wget $DEFCONFIG -O .config
            echo "CONFIG_TARGET_rockchip_armv8_DEVICE_hinlink_opc-h68k=y" >> .config
            echo "CONFIG_DEVEL=y" >> .config
            echo "CONFIG_EXTERNAL_TOOLCHAIN=y" >> .config
            echo "CONFIG_TARGET_NAME=\"aarch64-openwrt-linux\"" >> .config
            echo "CONFIG_TOOLCHAIN_PREFIX=\"aarch64-openwrt-linux-musl-\"" >> .config
            echo "CONFIG_TOOLCHAIN_ROOT=\"$TOOLCHAIN_DIR\"" >> .config
            echo "CONFIG_EXTERNAL_GCC_VERSION=\"$GCC_VER\"" >> .config
            echo "CONFIG_DEVEL=y" >> .config
            echo "CONFIG_KERNEL_DEBUG_INFO=y" >> .config
            echo "CONFIG_KERNEL_DEBUG_INFO_REDUCED=n" >> .config
            echo "CONFIG_KERNEL_DEBUG_INFO_BTF=y" >> .config
            echo "CONFIG_KERNEL_CGROUPS=y" >> .config
            echo "CONFIG_KERNEL_CGROUP_BPF=y" >> .config
            echo "CONFIG_KERNEL_BPF_EVENTS=y" >> .config
            echo "CONFIG_BPF_TOOLCHAIN_HOST=y" >> .config
            echo "CONFIG_KERNEL_XDP_SOCKETS=y" >> .config
            echo "CONFIG_PACKAGE_kmod-xdp-sockets-diag=y" >> .config
            make defconfig
            cp $GITHUB_WORKSPACE/$DIY_SHELL .
            chmod +x diy.sh
            ./diy.sh
            cat .config
          
      - name: Compile the firmware
        run: |
          cd /mnt/openwrt
          echo -e "download package"
          make download -j$(nproc)
          echo -e "$(nproc) thread compile"
          make -j$(nproc) V=s
          echo "release=$(date +"%Y.%m.%d-%H%M")" >> $GITHUB_ENV
          
      - name: Check space usage
        if: (!cancelled())
        run: |
          duf

      - name: Organize firmware files
        if: (!cancelled())
        run: |
          cd /mnt/openwrt/bin/targets/*/*
          rm -rf packages *.buildinfo *.manifest *.zst
          echo "firmware_dir=$PWD" >> "$GITHUB_ENV"
          
      - name: Set release tag suffix
        run: |
          if [ "${{ matrix.device }}" == "h68k-new" ]; then
            echo "tag_suffix=H68k" >> "$GITHUB_ENV"
          elif [ "${{ matrix.device }}" == "h68k-old" ]; then
            echo "tag_suffix=H68k-v2022旧版硬件" >> "$GITHUB_ENV"
          elif [ "${{ matrix.device }}" == "h68k-max" ]; then
            echo "tag_suffix=H68k-Max" >> "$GITHUB_ENV"
          fi
          
      - name: Upload firmware to release
        uses: softprops/action-gh-release@v2
        if: (!cancelled())
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.release }}-${{ env.tag_suffix }}-${{ env.SOURCE_REPO }}
          body: |
            ### OpenWrt Image Information

            - Default IP: 192.168.100.1
            - Default WAN: eth3
            - Default Username: root
            - Default Password: none
            - Default WIFI Name: immrotalwrt
            - Default WIFI Password: none
            - 说明: 2022版本为旧版硬件,max版本为mt7916无线网卡版本.
            
            ### OpenWrt Source Code
            - ${{ env.REPO_URL }}
          files: ${{ env.firmware_dir }}/*
